* {
  font-family: "Nunito", sans-serif;
}

.btn {
  border: none;
  box-shadow: none;
}

.card{
    border: none;
}

.alert{
    border-radius: 8px;
}

.form-control.radius1 {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #ececec;
    font-weight: bold;
    box-shadow: none;
    border: none;
}

.form-control.radius2 {
    background-color: #ececec;
    font-weight: bold;
    box-shadow: none;
    border: none;
}

.input-group-text {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    background-color: #ececec;
    padding-left: 22px;
    box-shadow: none;
    border: none;
}

.show-pass{
    background-color: transparent;
    position: absolute;
    right: 4px;
    top: 16px;
}

.input-group-text i {
    font-size: 24px;
}

.show-pass i {
    font-size: 14px;
}

.text-primary{
    color: #6358DC !important;
}

.btn-primary.btn-login{
    padding: 14px 0px 14px 0px;
    background-color: #6358DC;
    border-radius: 8px;
    box-shadow: none;
    width: 100%;
}

.card-login{
    margin-right: 40px;
    margin-left: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
    border-radius: 12px;
}

@media only screen and (max-width: 992px) {
    .card-login{
        margin-right: 0px;
        margin-left: 0px;
    }
}